$base-blue: #1a93d2;
$footer-background: #03051e;
$lightgray: #ebebeb;
$font: 'Hind', sans-serif;

html {
    position: relative;
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/homeBg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: $font;
    height: 1200px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 10px 30px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
        background-color: #fff;
        color: $base-blue;
    }
}

p {
    font-size: 15px;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

header {
    width: 100%;
    position: relative;

    .partner-contact {
        display: none;
    }
    .navbar {
        nav {
            height: 68px;
            .hamburger {
                display: block;
                position: absolute;
                z-index: 99;
            }

            .navigation {
                position: relative;
                z-index: 50;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 60px 0 40px 0;
                list-style-type: none;
                background: $footer-background;
                transform: translateX(-100%);
                transition: transform 0.5s ease-in;

                li {
                    margin: 15px auto;
                    text-transform: uppercase;
                    opacity: 1;
                    text-align: center;
                    position: relative;

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        font-size: 26px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .nav-active {
                transform: translateX(0%);
            }

            .dropdown-arrow {
                cursor: pointer;
                display: inline-block;
                vertical-align: super;
                padding: 4px 15px 0;
            }

            .dropdown {
                display: none;
                list-style-type: none;
                & > li > a {
                    font-size: 16px;
                }
            }

            .opened {
                display: block;
                padding: 15px 0 0 0;
            }
        }
    }

    .logo-mobile {
        margin-top: 30px;
        text-align: center;
        img {
            width: 80%;
        }
    }

    .logo {
        display: none;
    }
}

.main {
    margin-top: 100px;

    .hero {
        padding-bottom: 50px;
        .highlight {
            text-align: center;
            width: 100%;
            padding: 0 30px;

            h1 {
                font-size: 30px;
                line-height: 50px;
                font-weight: 500;
                text-align: center;
                position: relative;
                width: 100%;
                z-index: -1;

                &::before {
                    content: '';
                    width: 70px;
                    height: 7px;
                    background-color: $base-blue;
                    position: absolute;
                    top: -15px;
                    right: 35px;
                    z-index: -1;
                }
            }

            .cta {
                background-color: $base-blue;
                border: 2px solid $base-blue;
                padding: 10px 40px;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                border-radius: 5px;
                font-weight: 700;
                transition: all 0.3s ease;
                margin-top: 20px;
                display: inline-block;

                &:hover {
                    background-color: #fff;
                    border: 2px solid $base-blue;
                    color: $base-blue;
                }
            }
        }
        .image {
            display: none;
        }

        .blue-shape {
            display: none;
        }
    }

    .brands {
        background-color: $base-blue;
        color: white;
        padding-top: 50px;
        text-align: center;
        padding-bottom: 50px;

        .container {
            padding: 0 30px;
            h1 {
                position: relative;
                display: inline-block;
                z-index: 0;

                &::before {
                    content: '';
                    width: 70px;
                    height: 7px;
                    background-color: #fff;
                    position: absolute;
                    top: -15px;
                    right: -35px;
                }
            }
            .card {
                text-align: center;
                padding: 50px 0;

                .header {
                    h3 {
                        font-size: 20px;
                        margin: 0;

                        &::after {
                            content: '>>>';
                            margin-left: 10px;
                            vertical-align: middle;
                        }
                    }
                }

                .description {
                    font-weight: 500;
                    margin-top: 25px;

                    p {
                        margin: 0 0 55px 0;
                    }
                }
            }
        }
    }
}

.cooperations {
    background-color: #fff;
    margin-top: 50px;
    text-align: center;
    .container {
        padding: 0 30px;
        h1 {
            margin-bottom: 30px;
            padding: 25px 0;
            position: relative;
            display: inline-block;

            &::before {
                content: '';
                width: 70px;
                height: 7px;
                background-color: $base-blue;
                position: absolute;
                top: 0;
                right: -35px;
            }
        }

        .owl-carousel {
            .owl-stage {
                display: flex;
                align-items: center;
            }
            .item {
                display: inline-block;

                img {
                    max-width: 210px;
                    max-height: 180px;
                }
            }
        }
    }
}

.services {
    background-color: $lightgray;
    text-align: center;
    padding-top: 50px;

    .container {
        padding: 0 30px 50px 30px;

        .info {
            padding: 25px 0;

            h1 {
                font-weight: 700;
                position: relative;
                margin-bottom: 25px;

                &::before {
                    content: '';
                    width: 70px;
                    height: 7px;
                    background-color: $base-blue;
                    position: absolute;
                    top: -15px;
                    right: -35px;
                }
            }

            p {
                span {
                    color: $base-blue;
                }
            }
        }

        .icons {
            display: flex;
            flex-wrap: wrap;

            .icon {
                width: calc(49% - 10px);
                margin: 15px 0 0 0;
                position: relative;
                padding: 5px;

                #border-bot {
                    border-bottom: 1px solid gray;
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    bottom: 0;
                }
                #border-right {
                    border-right: 1px solid gray;
                    position: absolute;
                    right: -1px;
                    top: 1px;
                    bottom: 12px;
                }

                a {
                    text-decoration: none;
                    color: #000;
                    display: flex;
                    flex-direction: column;
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                img {
                    width: 55px;
                }
            }
        }
    }

    .references-button {
        background-color: $base-blue;
        width: 100%;
        padding: 50px 0 50px 0;
        text-align: center;

        .btn {
            background-color: white;
            color: $base-blue;

            &:hover {
                background-color: $base-blue;
                color: white;
            }
        }
    }
}

.news {
    background-color: #fff;
    text-align: center;
    margin: 50px 0;

    .container {
        padding: 0 30px;

        h1 {
            margin-bottom: 20px;
            position: relative;
            display: inline-block;

            &::before {
                content: '';
                width: 70px;
                height: 7px;
                background-color: $base-blue;
                position: absolute;
                top: -15px;
                right: -35px;
            }
        }

        .news-content {
            .text {
                margin-bottom: 70px;

                .header {
                    text-decoration: none;
                    color: $base-blue;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 700;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    margin: 25px 0 50px 0;
                }

                .btn {
                    border-color: $base-blue;
                    color: $base-blue;

                    &:hover {
                        background-color: $base-blue;
                        color: #fff;
                    }
                }
            }

            .image {
                img {
                    max-width: 250px;
                }
            }
        }
    }
}

.contacts {
    padding: 50px;
    position: relative;

    &::before {
        content: '';

        height: 1px;
        position: absolute;
        top: 0;
        background-color: gray;
        left: 50px;
        right: 50px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .contact {
            display: flex;
            align-items: center;
            span {
                margin-left: 20px;
                font-weight: 700;
            }
            img {
                width: 30px;
            }

            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
}

footer {
    .footer-info {
        padding: 50px 0;
        background-color: $footer-background;
        color: #fff;
        text-align: center;

        .container {
            padding: 0 30px;

            h3 {
                text-decoration: underline;
            }

            .text {
                margin-bottom: 20px;
                img {
                    width: 80%;
                    margin-bottom: 20px;
                }
            }

            .footer-nav {
                margin-bottom: 20px;
                h3 {
                    margin-bottom: 20px;
                }
                ul {
                    list-style-type: none;
                    padding: 0;
                    li {
                        a {
                            text-decoration: none;
                            color: #fff;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .quick-contact {
                margin-bottom: 20px;

                h3 {
                    margin-bottom: 20px;
                }
                p {
                    margin: 0;
                }
            }

            .socials {
                h3 {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .copy {
        padding: 35px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    header {
        .logo-mobile {
            img {
                width: 60%;
            }
        }
    }

    .main {
        .hero {
            .highlight {
                h1 {
                    font-size: 50px;
                    line-height: 70px;
                }
            }
        }

        .brands {
            .container {
                h1 {
                    font-size: 35px;
                    margin: 25px 0 50px 0;
                }
            }
        }
    }

    .cooperations {
        .container {
            h1 {
                font-size: 35px;
            }
        }
    }

    .services {
        margin-top: 50px;
        padding-top: 50px;

        .container {
            padding: 0 50px;

            .info {
                h1 {
                    font-size: 35px;
                }
            }

            .icons {
                .icon {
                    a {
                        font-size: 17px;
                    }

                    img {
                        width: 70px;
                    }
                }
            }
        }

        .references-button {
            margin-top: 50px;
        }
    }

    .news {
        .container {
            padding: 0 40px;
            h1 {
                margin-bottom: 50px;
                font-size: 35px;
            }

            .news-content {
                .text {
                    .header {
                        font-size: 30px;
                        margin-bottom: 30px;
                    }

                    p {
                        margin: 30px 0 70px 0;
                    }
                }

                .image {
                    img {
                        max-width: 500px;
                    }
                }
            }
        }
    }

    .contacts {
        .content {
            .contact {
                img {
                    width: 70px;
                }
                span {
                    font-size: 30px;
                }

                &:first-child {
                    margin-bottom: 50px;
                }
            }
        }
    }

    footer {
        .footer-info {
            .container {
                padding: 0 40px;

                .text {
                    img {
                        width: 60%;
                    }

                    p {
                        margin: 50px 40px;
                    }
                }

                .footer-nav {
                    margin-bottom: 50px;
                    h3 {
                        margin-bottom: 25px;
                        font-size: 25px;
                    }
                    ul {
                        li {
                            a {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .quick-contact {
                    margin-bottom: 50px;
                    h3 {
                        margin-bottom: 25px;
                        font-size: 25px;
                    }

                    p {
                        font-size: 18px;
                    }
                }

                .socials {
                    padding-bottom: 50px;

                    h3 {
                        margin-bottom: 25px;
                        font-size: 25px;
                    }

                    a {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    header {
        .partner-contact {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: $lightgray;
            padding: 15px;

            p {
                margin: 0 20px;
            }
            img {
                width: 25px;
            }
        }
        .logo-mobile {
            display: none;
        }
    }

    .main {
        .hero {
            .highlight {
                width: 64%;
                display: inline-block;
                vertical-align: middle;
            }
            .image {
                display: inline-block;
                width: 35%;
                vertical-align: middle;
                img {
                    width: 100%;
                }
            }
        }

        .companies {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                width: 45%;
                padding: 30px !important;
                position: relative;

                &:not(:first-child) {
                    &::before {
                        content: '';
                        width: 1px;
                        left: 0;
                        position: absolute;
                        height: 80%;
                        background-color: #fff;
                        color: #fff;
                    }
                }

                &:last-child {
                    &::before {
                        content: none;
                    }
                }
            }
        }
    }

    .cooperations {
        .container {
            h1 {
                margin-bottom: 50px;
            }
        }
    }

    .services {
        .container {
            padding: 0 40px;

            .content {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .info,
                .icons {
                    width: 45%;
                }
            }
        }
    }

    .news {
        .news-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .contacts {
        margin-top: 100px;

        .content {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .contact {
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    footer {
        .footer-info {
            .content {
                display: flex;
                justify-content: space-around;
                align-items: flex-start;

                .text {
                    width: 40%;
                }

                .footer-nav {
                    width: 20%;
                }

                .quick-contact {
                    width: 20%;
                }

                .socials {
                    width: 20%;
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    header {
        .logo-mobile {
            display: none;
        }
        .navbar {
            padding: 30px 55px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #fff;

            .logo {
                display: block;
            }

            nav {
                width: 100vw;
                display: flex;
                justify-content: flex-end;

                .hamburger {
                    display: none;
                }
                .navigation {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    transform: translateX(0%);
                    background-color: #fff;

                    li {
                        margin: 0 15px;
                        a {
                            padding: 10px;
                            font-size: 17px;
                            color: #000;
                            font-weight: 200;
                        }

                        .nav-cta {
                            background-color: $base-blue;
                            color: white;
                            border-radius: 4px;
                            margin-left: 6px;
                            padding: 4px;
                        }

                        .active {
                            color: $base-blue;

                            &::before {
                                content: '';
                                width: 30px;
                                height: 4px;
                                background-color: $base-blue;
                                position: absolute;
                                top: -15px;
                                right: 0;
                            }
                        }
                    }

                    & > li {
                        &:not(:first-child) {
                            &::before {
                                content: '';
                                position: absolute;
                                left: -15px;
                                width: 1px;
                                height: 20px;
                                background-color: rgb(70, 70, 70);
                            }
                        }
                    }

                    .dropdown-activator:hover > .dropdown {
                        display: block;
                        position: absolute;
                        left: -50px;
                        top: 25px;
                        padding: 20px;
                        z-index: 10;
                        width: 170px;
                        background-color: white;

                        li {
                            text-align: left;
                            padding: 8px 0;

                            &:not(:last-child) {
                                border-bottom: 1px solid rgb(70, 70, 70);
                            }
                        }
                    }
                }

                .dropdown-arrow {
                    display: none;
                }

                .dropdown {
                    display: none;
                    list-style-type: none;
                    & > li > a {
                        font-size: 16px;
                    }
                }

                .opened {
                    display: block;
                    padding: 15px 0 0 0;
                }
            }
        }
    }

    p {
        font-size: 17px;
    }
    .main {
        .hero {
            position: relative;
            .blue-shape {
                display: block;
                position: absolute;
                bottom: -10px;
                z-index: -1;
                width: 100%;
                left: 0;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        }

        .brands {
            text-align: left;
            position: relative;

            .companies {
                .card {
                    width: 33%;

                    &:last-child {
                        &::before {
                            content: '';
                            width: 1px;
                            left: 0;
                            position: absolute;
                            height: 80%;
                            background-color: #fff;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .cooperations {
        text-align: left;
        position: relative;
    }

    .services {
        .content {
            .info {
                text-align: left;
                h1 {
                    display: inline-block;
                }
            }

            .icons {
                .icon {
                    img {
                        width: 90px;
                    }
                }
            }
        }
    }

    .news {
        text-align: left;
    }
}
