html {
  position: relative;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../images/homeBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Hind", sans-serif;
  height: 1200px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 10px 30px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #1a93d2;
}

p {
  font-size: 15px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

header {
  width: 100%;
  position: relative;
}

header .partner-contact {
  display: none;
}

header .navbar nav {
  height: 68px;
}

header .navbar nav .hamburger {
  display: block;
  position: absolute;
  z-index: 99;
}

header .navbar nav .navigation {
  position: relative;
  z-index: 50;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 40px 0;
  list-style-type: none;
  background: #03051e;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

header .navbar nav .navigation li {
  margin: 15px auto;
  text-transform: uppercase;
  opacity: 1;
  text-align: center;
  position: relative;
}

header .navbar nav .navigation li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 26px;
}

header .navbar nav .navigation li a:hover {
  text-decoration: underline;
}

header .navbar nav .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .navbar nav .dropdown-arrow {
  cursor: pointer;
  display: inline-block;
  vertical-align: super;
  padding: 4px 15px 0;
}

header .navbar nav .dropdown {
  display: none;
  list-style-type: none;
}

header .navbar nav .dropdown > li > a {
  font-size: 16px;
}

header .navbar nav .opened {
  display: block;
  padding: 15px 0 0 0;
}

header .logo-mobile {
  margin-top: 30px;
  text-align: center;
}

header .logo-mobile img {
  width: 80%;
}

header .logo {
  display: none;
}

.main {
  margin-top: 100px;
}

.main .hero {
  padding-bottom: 50px;
}

.main .hero .highlight {
  text-align: center;
  width: 100%;
  padding: 0 30px;
}

.main .hero .highlight h1 {
  font-size: 30px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: -1;
}

.main .hero .highlight h1::before {
  content: '';
  width: 70px;
  height: 7px;
  background-color: #1a93d2;
  position: absolute;
  top: -15px;
  right: 35px;
  z-index: -1;
}

.main .hero .highlight .cta {
  background-color: #1a93d2;
  border: 2px solid #1a93d2;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 20px;
  display: inline-block;
}

.main .hero .highlight .cta:hover {
  background-color: #fff;
  border: 2px solid #1a93d2;
  color: #1a93d2;
}

.main .hero .image {
  display: none;
}

.main .hero .blue-shape {
  display: none;
}

.main .brands {
  background-color: #1a93d2;
  color: white;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.main .brands .container {
  padding: 0 30px;
}

.main .brands .container h1 {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.main .brands .container h1::before {
  content: '';
  width: 70px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  top: -15px;
  right: -35px;
}

.main .brands .container .card {
  text-align: center;
  padding: 50px 0;
}

.main .brands .container .card .header h3 {
  font-size: 20px;
  margin: 0;
}

.main .brands .container .card .header h3::after {
  content: '>>>';
  margin-left: 10px;
  vertical-align: middle;
}

.main .brands .container .card .description {
  font-weight: 500;
  margin-top: 25px;
}

.main .brands .container .card .description p {
  margin: 0 0 55px 0;
}

.cooperations {
  background-color: #fff;
  margin-top: 50px;
  text-align: center;
}

.cooperations .container {
  padding: 0 30px;
}

.cooperations .container h1 {
  margin-bottom: 30px;
  padding: 25px 0;
  position: relative;
  display: inline-block;
}

.cooperations .container h1::before {
  content: '';
  width: 70px;
  height: 7px;
  background-color: #1a93d2;
  position: absolute;
  top: 0;
  right: -35px;
}

.cooperations .container .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cooperations .container .owl-carousel .item {
  display: inline-block;
}

.cooperations .container .owl-carousel .item img {
  max-width: 210px;
  max-height: 180px;
}

.services {
  background-color: #ebebeb;
  text-align: center;
  padding-top: 50px;
}

.services .container {
  padding: 0 30px 50px 30px;
}

.services .container .info {
  padding: 25px 0;
}

.services .container .info h1 {
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
}

.services .container .info h1::before {
  content: '';
  width: 70px;
  height: 7px;
  background-color: #1a93d2;
  position: absolute;
  top: -15px;
  right: -35px;
}

.services .container .info p span {
  color: #1a93d2;
}

.services .container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .container .icons .icon {
  width: calc(49% - 10px);
  margin: 15px 0 0 0;
  position: relative;
  padding: 5px;
}

.services .container .icons .icon #border-bot {
  border-bottom: 1px solid gray;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
}

.services .container .icons .icon #border-right {
  border-right: 1px solid gray;
  position: absolute;
  right: -1px;
  top: 1px;
  bottom: 12px;
}

.services .container .icons .icon a {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}

.services .container .icons .icon img {
  width: 55px;
}

.services .references-button {
  background-color: #1a93d2;
  width: 100%;
  padding: 50px 0 50px 0;
  text-align: center;
}

.services .references-button .btn {
  background-color: white;
  color: #1a93d2;
}

.services .references-button .btn:hover {
  background-color: #1a93d2;
  color: white;
}

.news {
  background-color: #fff;
  text-align: center;
  margin: 50px 0;
}

.news .container {
  padding: 0 30px;
}

.news .container h1 {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.news .container h1::before {
  content: '';
  width: 70px;
  height: 7px;
  background-color: #1a93d2;
  position: absolute;
  top: -15px;
  right: -35px;
}

.news .container .news-content .text {
  margin-bottom: 70px;
}

.news .container .news-content .text .header {
  text-decoration: none;
  color: #1a93d2;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.news .container .news-content .text .header:hover {
  text-decoration: underline;
}

.news .container .news-content .text p {
  margin: 25px 0 50px 0;
}

.news .container .news-content .text .btn {
  border-color: #1a93d2;
  color: #1a93d2;
}

.news .container .news-content .text .btn:hover {
  background-color: #1a93d2;
  color: #fff;
}

.news .container .news-content .image img {
  max-width: 250px;
}

.contacts {
  padding: 50px;
  position: relative;
}

.contacts::before {
  content: '';
  height: 1px;
  position: absolute;
  top: 0;
  background-color: gray;
  left: 50px;
  right: 50px;
}

.contacts .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts .content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .content .contact span {
  margin-left: 20px;
  font-weight: 700;
}

.contacts .content .contact img {
  width: 30px;
}

.contacts .content .contact:first-child {
  margin-bottom: 30px;
}

footer .footer-info {
  padding: 50px 0;
  background-color: #03051e;
  color: #fff;
  text-align: center;
}

footer .footer-info .container {
  padding: 0 30px;
}

footer .footer-info .container h3 {
  text-decoration: underline;
}

footer .footer-info .container .text {
  margin-bottom: 20px;
}

footer .footer-info .container .text img {
  width: 80%;
  margin-bottom: 20px;
}

footer .footer-info .container .footer-nav {
  margin-bottom: 20px;
}

footer .footer-info .container .footer-nav h3 {
  margin-bottom: 20px;
}

footer .footer-info .container .footer-nav ul {
  list-style-type: none;
  padding: 0;
}

footer .footer-info .container .footer-nav ul li a {
  text-decoration: none;
  color: #fff;
}

footer .footer-info .container .footer-nav ul li a:hover {
  text-decoration: underline;
}

footer .footer-info .container .quick-contact {
  margin-bottom: 20px;
}

footer .footer-info .container .quick-contact h3 {
  margin-bottom: 20px;
}

footer .footer-info .container .quick-contact p {
  margin: 0;
}

footer .footer-info .container .socials h3 {
  margin-bottom: 20px;
}

footer .copy {
  padding: 35px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header .logo-mobile img {
    width: 60%;
  }
  .main .hero .highlight h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .main .brands .container h1 {
    font-size: 35px;
    margin: 25px 0 50px 0;
  }
  .cooperations .container h1 {
    font-size: 35px;
  }
  .services {
    margin-top: 50px;
    padding-top: 50px;
  }
  .services .container {
    padding: 0 50px;
  }
  .services .container .info h1 {
    font-size: 35px;
  }
  .services .container .icons .icon a {
    font-size: 17px;
  }
  .services .container .icons .icon img {
    width: 70px;
  }
  .services .references-button {
    margin-top: 50px;
  }
  .news .container {
    padding: 0 40px;
  }
  .news .container h1 {
    margin-bottom: 50px;
    font-size: 35px;
  }
  .news .container .news-content .text .header {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .news .container .news-content .text p {
    margin: 30px 0 70px 0;
  }
  .news .container .news-content .image img {
    max-width: 500px;
  }
  .contacts .content .contact img {
    width: 70px;
  }
  .contacts .content .contact span {
    font-size: 30px;
  }
  .contacts .content .contact:first-child {
    margin-bottom: 50px;
  }
  footer .footer-info .container {
    padding: 0 40px;
  }
  footer .footer-info .container .text img {
    width: 60%;
  }
  footer .footer-info .container .text p {
    margin: 50px 40px;
  }
  footer .footer-info .container .footer-nav {
    margin-bottom: 50px;
  }
  footer .footer-info .container .footer-nav h3 {
    margin-bottom: 25px;
    font-size: 25px;
  }
  footer .footer-info .container .footer-nav ul li a {
    font-size: 18px;
  }
  footer .footer-info .container .quick-contact {
    margin-bottom: 50px;
  }
  footer .footer-info .container .quick-contact h3 {
    margin-bottom: 25px;
    font-size: 25px;
  }
  footer .footer-info .container .quick-contact p {
    font-size: 18px;
  }
  footer .footer-info .container .socials {
    padding-bottom: 50px;
  }
  footer .footer-info .container .socials h3 {
    margin-bottom: 25px;
    font-size: 25px;
  }
  footer .footer-info .container .socials a {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1024px) {
  header .partner-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ebebeb;
    padding: 15px;
  }
  header .partner-contact p {
    margin: 0 20px;
  }
  header .partner-contact img {
    width: 25px;
  }
  header .logo-mobile {
    display: none;
  }
  .main .hero .highlight {
    width: 64%;
    display: inline-block;
    vertical-align: middle;
  }
  .main .hero .image {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
  }
  .main .hero .image img {
    width: 100%;
  }
  .main .companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .companies .card {
    width: 45%;
    padding: 30px !important;
    position: relative;
  }
  .main .companies .card:not(:first-child)::before {
    content: '';
    width: 1px;
    left: 0;
    position: absolute;
    height: 80%;
    background-color: #fff;
    color: #fff;
  }
  .main .companies .card:last-child::before {
    content: none;
  }
  .cooperations .container h1 {
    margin-bottom: 50px;
  }
  .services .container {
    padding: 0 40px;
  }
  .services .container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services .container .content .info,
  .services .container .content .icons {
    width: 45%;
  }
  .news .news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts {
    margin-top: 100px;
  }
  .contacts .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .content .contact:first-child {
    margin-bottom: 0;
  }
  footer .footer-info .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-info .content .text {
    width: 40%;
  }
  footer .footer-info .content .footer-nav {
    width: 20%;
  }
  footer .footer-info .content .quick-contact {
    width: 20%;
  }
  footer .footer-info .content .socials {
    width: 20%;
  }
  footer .footer-info .content .socials a {
    display: block;
  }
}

@media only screen and (min-width: 1400px) {
  header .logo-mobile {
    display: none;
  }
  header .navbar {
    padding: 30px 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
  }
  header .navbar .logo {
    display: block;
  }
  header .navbar nav {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navbar nav .hamburger {
    display: none;
  }
  header .navbar nav .navigation {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background-color: #fff;
  }
  header .navbar nav .navigation li {
    margin: 0 15px;
  }
  header .navbar nav .navigation li a {
    padding: 10px;
    font-size: 17px;
    color: #000;
    font-weight: 200;
  }
  header .navbar nav .navigation li .nav-cta {
    background-color: #1a93d2;
    color: white;
    border-radius: 4px;
    margin-left: 6px;
    padding: 4px;
  }
  header .navbar nav .navigation li .active {
    color: #1a93d2;
  }
  header .navbar nav .navigation li .active::before {
    content: '';
    width: 30px;
    height: 4px;
    background-color: #1a93d2;
    position: absolute;
    top: -15px;
    right: 0;
  }
  header .navbar nav .navigation > li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: -15px;
    width: 1px;
    height: 20px;
    background-color: #464646;
  }
  header .navbar nav .navigation .dropdown-activator:hover > .dropdown {
    display: block;
    position: absolute;
    left: -50px;
    top: 25px;
    padding: 20px;
    z-index: 10;
    width: 170px;
    background-color: white;
  }
  header .navbar nav .navigation .dropdown-activator:hover > .dropdown li {
    text-align: left;
    padding: 8px 0;
  }
  header .navbar nav .navigation .dropdown-activator:hover > .dropdown li:not(:last-child) {
    border-bottom: 1px solid #464646;
  }
  header .navbar nav .dropdown-arrow {
    display: none;
  }
  header .navbar nav .dropdown {
    display: none;
    list-style-type: none;
  }
  header .navbar nav .dropdown > li > a {
    font-size: 16px;
  }
  header .navbar nav .opened {
    display: block;
    padding: 15px 0 0 0;
  }
  p {
    font-size: 17px;
  }
  .main .hero {
    position: relative;
  }
  .main .hero .blue-shape {
    display: block;
    position: absolute;
    bottom: -10px;
    z-index: -1;
    width: 100%;
    left: 0;
    margin: 0 auto;
  }
  .main .hero .blue-shape img {
    width: 100%;
  }
  .main .brands {
    text-align: left;
    position: relative;
  }
  .main .brands .companies .card {
    width: 33%;
  }
  .main .brands .companies .card:last-child::before {
    content: '';
    width: 1px;
    left: 0;
    position: absolute;
    height: 80%;
    background-color: #fff;
    color: #fff;
  }
  .cooperations {
    text-align: left;
    position: relative;
  }
  .services .content .info {
    text-align: left;
  }
  .services .content .info h1 {
    display: inline-block;
  }
  .services .content .icons .icon img {
    width: 90px;
  }
  .news {
    text-align: left;
  }
}
/*# sourceMappingURL=index.css.map */